$arrow_size: 5px;
$tooltip_color: black;

.react-aria-tooltip {
    position: relative;

    &.active {
        .react-aria-tooltip-wrapper {
            display: block;
        }
    }
}

.react-aria-tooltip-wrapper {
    position: absolute;
    background: $tooltip_color;
    transition: all .25s;
    display: none;

    p {
        padding: .5rem 1rem;
        margin: 0;
        white-space: nowrap;
        color: white;
    }

    // directions
    &.top {
        top: 0;
        left: 50%;
        transform: translate(-50%,-120%);

        .react-aria-tooltip-message {
            // down arrow
            &:after {
                top: 100%;
            	left: 50%;
            	border-top-color: $tooltip_color;
            }
        }
    }

    &.bottom {
        bottom: 0;
        left: 50%;
        transform: translate(-50%,120%);

        .react-aria-tooltip-message {
            // up arrow
            &:after {
                top: -($arrow_size * 2);
            	left: 50%;
            	border-bottom-color: $tooltip_color;
            }
        }
    }

    &.left {
        top: 50%;
        left: -$arrow_size;
        transform: translate(-100%,-50%);

        .react-aria-tooltip-message {
            &:after {
                // right arrow
                top: 50%;
            	left: 100%;
                margin-left: 0;
                margin-top: -$arrow_size;
            	border-left-color: $tooltip_color;
            }
        }
    }

    &.right {
        top: 50%;
        right: -$arrow_size;
        transform: translate(100%,-50%);

        .react-aria-tooltip-message {
            &:after {
                // left arrow
                top: 50%;
            	right: 100%;
                margin-left: 0;
                margin-top: -$arrow_size;
            	border-right-color: $tooltip_color;
            }
        }
    }

}

.react-aria-tooltip-message {
    position: relative;

    // default arrow indicator styles
    &:after {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: $arrow_size;
        margin-left: -$arrow_size;
    }
}
